$window-bg: #e1dfea;
$hover-bg: #f4f5f8;

$aside-width: 200px;
$max-height: 600px;

$font-color: #6b6f77;
$font-gray-color: #9e9fa2;
$font-gray-second-color: #bebdbd;
$font-hover-color: #6b5e90;
$font-hover-white: #ffffff;

$white: #fff;

$big-white-shadow: -10px -10px 30px #fff;
$big-black-shadow: 10px 10px 30px #b8b9be;

$mid-white-shadow: -4px -4px 7px #fff;
$mid-black-shadow: 2px 2px 5px #b8b9be;
